.about-header {
  margin-top: 0;
  text-align: center;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 565px;
    background: radial-gradient(176.72% 77.17% at 50% 22.83%, #4285f4 0%, #1a67d3 99.99%, #1967d2 100%);
  }

  @include media-breakpoint-up(md) {
    &::before {
      height: 650px;
    }
  }

  @include media-breakpoint-up(xl) {
    &:before {
      content: none;
    }
  }

  .container {
    padding: 162px 22px 0;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 574px;
      height: 565px;
      background-image: url(../images/about-bg-desktop.png);
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__img {
    max-width: 330px;
  }

  @include media-breakpoint-up(md) {
    &__img {
      max-width: 484px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: 32px;

    .container {
      overflow: initial;
    }
  }

  @include media-breakpoint-up(xl) {
    text-align: initial;
    background: radial-gradient(176.72% 77.17% at 50% 22.83%, #4285f4 0%, #1a67d3 99.99%, #1967d2 100%);

    .container {
      padding: 128px 22px 50px;
      display: flex;
      justify-content: space-between;

      &::after {
        width: 840px;
        height: 826px;
        transform: none;
        left: -180px;
        top: -60px;
      }
    }
  }
}

.about-header {
  &__card {
    @include card;
    padding: 20px 30px 40px;
    text-align: initial;
    max-width: 580px;
    width: 100%;
    position: relative;
    display: inline-block;
    margin-top: 100px;
    position: relative;
    margin-bottom: 50px;

    // left: 50%;
    // transform: translateX(-50%);
  }

  @include media-breakpoint-up(sm) {
    &__card {
      padding: 30px 40px 40px;
    }
  }

  @include media-breakpoint-up(xl) {
    &__card {
      margin-bottom: 0;
      margin-top: 0;
      transform: translateY(100px);
    }
  }
}

// SECTION ABOUT
.section-about {
  padding: 0 0 40px;
  position: relative;

  &__img {
    @include media-breakpoint-down(sm) {
      margin-left: -22px;
      margin-right: -22px;
      height: 310px;

      max-width: 500px;
      display: inline-block;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 135px 0 140px;
  }
}

// SECTION STATS
.section-stats {
  padding: 50px 0 52px;

  @include media-breakpoint-up(lg) {
    padding: 90px 0 94px;
  }
}

// SECTION CAREER
.section-career {
  padding: 44px 0 50px;

  @include media-breakpoint-up(lg) {
    padding: 88px 0 150px;
  }
}
