.button {
  width: 100%;
  max-width: 440px;
  height: 50px;
  border-radius: 10px;
  background-color: $secondary;
  box-shadow: 0px 0px 15px rgba(255, 217, 25, 0.3);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.2s ease;

  font-size: 16px;
  font-weight: 600;

  &:hover {
    background-color: lighten($secondary, 8%);
  }

  &--primary {
    background-color: $primary;
    box-shadow: 0px 0px 15px rgba(0, 59, 255, 0.3);
    color: #fff;

    &:hover {
      background-color: lighten($primary, 8%);
    }
  }

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}
