.review-card {
  text-align: initial;
  &__header {
    padding: 0 30px 0;
    display: flex;
    align-items: center;
  }

  &__img {
    background-color: #fff;
    border-radius: 70px;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  &__heading {
    font-weight: 700;
  }

  &__body {
    @include card;
    margin-top: 30px;
    padding: 30px 30px 34px 56px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -21px;
      left: 37px;
      width: 56px;
      height: 21px;
      background-image: url(../images/svg/review-card-shape.svg);
    }
  }

  &__stars {
    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__date {
    color: $dark-100;
    margin-top: 10px;
  }

  &__description {
    margin-top: 24px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: -36px;
      width: 28px;
      height: 22px;
      background-image: url(../images/svg/review-card-quote.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  @include media-breakpoint-up(lg) {
    &__body {
      padding: 30px 30px 44px 56px;
    }
  }
}
