@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/open-sans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/opensans-semibold-webfont.woff2") format("woff2"),
    url("../fonts/open-sans/opensans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/opensans-bold-webfont.woff2") format("woff2"),
    url("../fonts/open-sans/opensans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open-sans/opensans-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/open-sans/opensans-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.heading-primary {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 52px;
    line-height: 60px;
  }
}

.heading-secondary {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;

  @include media-breakpoint-up(lg) {
    font-size: 48px;
    line-height: 58px;
  }
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.text-md {
  font-size: 14px;
  line-height: 18px;
}

.text-lg {
  font-size: 16px;
  line-height: 1.5;

  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}

.text-lg-normal {
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fs-normal {
  font-size: 16px !important;
}
