.cta {
  background: radial-gradient(67.85% 400% at 67.85% 0%, #4285f4 0%, #1967d2 100%);
  box-shadow: 0px 0px 15px rgba(0, 59, 255, 0.3);
  border-radius: 10px;
  padding: 0 30px 34px 30px;
  color: #fff;

  &__img {
    text-align: center;
    flex-shrink: 0;

    img {
      filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
      margin-top: -50px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 22px;
  }

  &__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    a {
      text-transform: uppercase;
      color: $secondary;
      font-weight: 800;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 0 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: -100px;

    &__img {
      text-align: initial;
      margin-left: 20px;

      img {
        transform: translateY(-50px);
        margin: 0;
      }
    }

    &__description {
      font-size: 16px;
    }

    &__heading {
      font-size: 30px;
      line-height: 40px;
    }
  }
}
