.card {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(32, 32, 32, 0.08);
}

.mt-6 {
  margin-top: 6px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-14 {
  margin-top: 14px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-34 {
  margin-top: 34px;
}

.swiper-gradient {
  position: relative;

  @media (min-width: 768px) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100px;
      top: 0;
      bottom: 0;
      z-index: 20;
    }

    &::before {
      background: linear-gradient(270deg, #f4f7fc 0%, rgba(244, 247, 252, 0) 100%);
      transform: rotate(-180deg);
      left: 0;
    }

    &::after {
      right: 0;
      background: linear-gradient(270deg, #f4f7fc 0%, rgba(244, 247, 252, 0) 100%);
    }
  }

  // @media (min-width: 992px) {
  //   &::before {
  //     background: linear-gradient(270deg, #f4f7fc 0%, rgba(244, 247, 252, 0.7) 100%);
  //     transform: rotate(-180deg);
  //   }

  //   &::after {
  //     background: linear-gradient(270deg, #f4f7fc 0%, rgba(244, 247, 252, 0.7) 100%);
  //   }
  // }
}
