.icon-hover {
  &,
  circle,
  path {
    transition: opacity 0.2s ease;
  }
  &:hover {
    fill: #fff;

    path {
      fill: #fff;
    }

    circle {
      opacity: 1;
    }
  }

  &-stroke:hover {
    path {
      stroke: #fff;
      fill: currentColor;
    }
  }
}

#sprite-block {
  display: none;
}

.mw-350 {
  max-width: 350px !important;
  display: inline-block;
}

.mw-600 {
  max-width: 600px !important;
  display: inline-block;
}

.mw-700 {
  max-width: 700px !important;
  display: inline-block;
}

.mw-860 {
  max-width: 860px !important;
  display: inline-block;
}

.mw-870 {
  max-width: 870px !important;
  display: inline-block;
}

.list {
  list-style: disc;
  padding-left: 18px;
  li:not(:last-child) {
    margin-bottom: 8px;
  }
}

.border-radius-img {
  border-radius: 10px !important;
  overflow: hidden;

  @media (min-width: 992px) {
    border-radius: 15px !important;
  }
}

@media (min-width: 992px) {
  .w-lg-100 {
    width: 100%;
  }
}
